.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

#nav_bar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

#nav_bar a {
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-decoration: none;
}
