header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

#nav_bar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

#nav_bar a {
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-decoration: none;
}

#nav_bar a:hover {
  color: rgb(28, 7, 216);
}

hr {
  border: none;
  height: 1px;
  background-color: #000000;
}

#song_title,
#artist {
  width: 300;
  margin: 4;
  margin-left: 5%;
  padding: 5px 5px;
}

#original_language {
  width: 160;
  margin: 4;
  margin-left: 5%;
  padding: 5px 5px;
}

#target_language {
  width: 145;
  padding: 5px 5px;
}

.buttons {
  margin: 4;
  margin-left: 5%;
}

#translateButton,
#restartButton {
  border-radius: 7px;
}

h2 {
  margin-left: 5%;
}

.original_lyrics,
.translated_lyrics {
  width: 500;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  padding: auto;
  padding-left: 1%;
  flex-direction: column;
  border: 1px solid #011294;
}

.lyric_boxes {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px 0;
}

#fullLyricsButton {
  margin-left: 12%;
  background-color: transparent;
  color: rgb(18, 13, 179);
  border: transparent;
}

#translateButton:hover,
#restartButton:hover {
  background-color: #5f82e4;
  font-size: 15px;
  font-weight: bold;
  color: azure;
}

#fullLyricsButton:hover {
  font-size: 18px;
}
