/* All Pages */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

#nav_bar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

#nav_bar a {
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-decoration: none;
}

#nav_bar a:hover {
  color: rgb(28, 7, 216);
}

hr {
  border: none;
  height: 1px;
  background-color: #000000;
}

/* Home Page */

#song_title,
#artist {
  width: 300;
  margin: 4;
  margin-left: 5%;
  padding: 5px 5px;
}

#original_language {
  width: 160;
  margin: 4;
  margin-left: 5%;
  padding: 5px 5px;
}

#target_language {
  width: 145;
  padding: 5px 5px;
}

.buttons {
  margin: 4;
  margin-left: 5%;
}

#translateButton,
#restartButton {
  border-radius: 7px;
}

#h2_HP {
  margin-left: 5%;
}

.original_lyrics,
.translated_lyrics {
  width: 500;
  background-color: rgba(209, 208, 235, 0.544);
  border-radius: 2px;
  padding: 5px;
  padding-left: 1%;
  flex-direction: column;
  border: 1px solid #011294;
  border-radius: 8px;
}

.lyric_boxes {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px 0;
}

#fullLyricsButton {
  margin-left: 12%;
  background-color: transparent;
  color: rgb(18, 13, 179);
  border: transparent;
}

#translateButton:hover,
#restartButton:hover {
  background-color: #5f82e4;
  font-size: 15px;
  font-weight: bold;
  color: azure;
}

#fullLyricsButton:hover {
  font-size: 18px;
}

.original_lyrics pre,
.translated_lyrics pre {
  /* This allows the user to scroll through the lyrics. */
  max-height: 400px;
  overflow-y: auto;
  white-space: pre-wrap;
}

/* Full Lyrics Page */

#h2_FL {
  text-align: center;
}

.fullOriginalLyricsBox,
.fullTargetLyricsBox {
  margin: 20px auto;
  width: 90%;
  max-width: 1000px;
  height: 250px;
  background-color: rgba(209, 208, 235, 0.544);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #011294;
  overflow-y: auto;
}

.fullLyricsText,
.fullTargetLyricsText {
  white-space: pre-wrap;
  color: black;
  font-size: 16px;
  line-height: 1.5;
}

#o_langTitle,
#t_langTitle {
  margin-left: 5%;
}

/* About Page */
.purpose {
  background-color: rgba(209, 208, 235, 0.544);
  border: 1px solid #011294;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  width: 60%;
}
